@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply font-[450] antialiased text-g8
    }

    h1,
    h2,
    h3,
    h4 {
        @apply tracking-[-0.03em] leading-[1.25]
    }

    h1 {
        @apply text-h1
    }

    h2 {
        @apply text-h2
    }

    h3 {
        @apply text-h3
    }

    h4 {
        @apply text-h4
    }

    p, label, input, div {
        @apply tracking-[-0.015em] leading-[1.5]
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield !important;
        appearance: textfield !important;
    }
}

@layer utilities {
    .transition-default {
        @apply transition-all duration-300 ease-out
    }
}